$sidebar: #282155;
$main: #3e396f;
$card: #353066;
$card-text: #A8A4C5;
$icon-nonactive: #8783A7;
$icon-active: #FEFEFD;
$text: #E8E8ED;
$button: #B2EAFF;
$button-text: #6B7EA3;
$recovered: #72ae79;
$deaths: #608f60;
$confirmed: #a4456b;
$active: #2d71c6;


