nav
    .item#home
        .select#homeselect
        a(href="index.html")     
            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.698 2.799a2 2 0 012.604 0l6.336 5.43 2.487 1.99a1 1 0 11-1.25 1.562l-.875-.7V19a2 2 0 01-2 2h-4v-5a2 2 0 10-4 0v5H6a2 2 0 01-2-2v-7.92l-.875.7a1 1 0 11-1.25-1.56l2.487-1.99 6.336-5.431z" fill="currentColor"/></svg>
    .item#statistics 
        .select
        a(href="index.html")     
            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill-rule="evenodd" clip-rule="evenodd" d="M3 6a3 3 0 013-3h12a3 3 0 013 3v12a3 3 0 01-3 3H6a3 3 0 01-3-3V6zm10 2a1 1 0 10-2 0v8a1 1 0 102 0V8zm-4 3a1 1 0 10-2 0v5a1 1 0 102 0v-5zm8 3a1 1 0 10-2 0v2a1 1 0 102 0v-2z" fill="currentColor"/></svg>
    .item#phone 
        .select
        a(href="index.html")     
            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill-rule="evenodd" clip-rule="evenodd" d="M4 3a1 1 0 00-1 1c0 2.023.424 4.734 1.583 7.399 1.4 3.22 3.895 6.42 8.022 8.194C14.672 20.483 17.121 21 20 21a1 1 0 001-1v-4a1 1 0 00-.758-.97l-4-1a1 1 0 00-1.017.338l-2.509 3.073c-2.894-1.443-4.796-3.735-5.991-6.174L9.65 8.76a1 1 0 00.32-1.002l-1-4A1 1 0 008 3H4z" fill="currentColor"/></svg>
    .item#user 
        .select
        a(href="index.html")     
            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill-rule="evenodd" clip-rule="evenodd" d="M12 3a6 6 0 00-3.642 10.769C5.814 14.907 4 17.208 4 20a1 1 0 001 1h14a1 1 0 001-1c0-2.792-1.814-5.093-4.358-6.231A6 6 0 0012 3z" fill="currentColor"/></svg>
    .item#play 
        .select
        a(href="index.html")     
            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill-rule="evenodd" clip-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12zm7.5-2.865c0-1.272 1.483-1.966 2.46-1.152l3.438 2.865a1.5 1.5 0 010 2.304l-3.438 2.865c-.977.814-2.46.12-2.46-1.152v-5.73z" fill="currentColor"/></svg>
    .item#settings
        a(href="index.html")     
            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" color="#000"><path fill-rule="evenodd" d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"></path></svg>